/*/body/*/

body{
  padding: 25px;
}
.title {
	display: block;
	color:white;
}

body {
	background-color: #fac9c5;
}

h2 {
	color: #9a5800;
}

p {
	color: black;
}

article{
            display: flex;
            align-items: center; /* Centers text vertically with the image */
        }
        .home img {
            margin-right: 20px; /* Optional: Adds space between image and text */
        }
        .home p {
            font-size: 24px; /* Adjust font size as needed */
        }

/*/images/*/
.img:hover{
	margin-right:20px;
	margin-top:20px;
	float:left;
	margin-bottom:20px;
	transform-origin:center top;
	transform: skewY(1deg);
}

/*/navigation/*/

ul {
	clear:left;
	list-style-type:none;
	margin:1px;
	padding:1em;
	overflow:hidden;
}

li{
	display:inline;
}

#link{
	color:white;
}

header {
background-color:#C8292E;
}
nav a{
	background-color:#C8292E;
	transition-property:background-color;
	transition-duration:1s;
}
	
a:hover {
	background-color:#228C22;
	text-decoration:none;	
}
a:active{
	background-color:red;
}

.home:hover{
	transform-origin:center top;
	transform: scale(1.2);
	transition-property:background-color;
	transition-duration:1s;
	transition-timing-function: ease-in-out;
}

footer {
    text-align: center;
}
/*/background top/*/
